.ambiente {
    display: grid;
    grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px 52px 52px;
}

.bloco {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 300%;
}

.jogador {
    background-image: url("../images/sapo.png");
}

.carro{
    background-color: black;
    border: 1px solid transparent;
}

.azul {
    background-color: blue;
    border: 1px solid transparent;
    color: white;
}

.amarelo {
    background-color: yellow;
    border: 1px solid transparent;
    color: white;
}

.verde {
    background-color: rgb(32, 206, 90);
    border: 1px solid rgb(32, 206, 90);
    color: rgb(32, 206, 90);
}

.vermelho {
    background-color: red;
    border: 1px solid transparent;
    color: yellow;
}

.asfalto{
    background-color: grey;
    border: 1px solid transparent;
    color: white;
}

.verde:hover {
    background-color: rgb(69, 143, 26);
    color:black;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    border-top: 1px solid red;
}

.bottom {
    border-bottom: 1px solid red;
}

.left {
    border-left: 1px solid red;
}

.right {
    border-right: 1px solid red;
}